html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F6F7F9;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 124px;
  padding: 0 40px;
  border: 1px solid rgba(195, 212, 233, 0.40);
  background: var(--Primary-0, #FFF);
  box-sizing: border-box;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #3A7AFE;
  text-decoration: none;

}

.search-container {
  flex: 1;
  max-width: 40%;
  margin: 0 auto;
}

.search-bar-wrapper {
  position: relative;
  width: 100%;
}

.search-bar {
  width: 100%;
  height: 3.5vh;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 50px;
  padding: 0.5rem 3rem 0.5rem 1rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.favorites-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 1px solid rgba(195, 212, 233, 0.4);
  background-color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.favorites-icon:hover {
  background-color: rgba(58, 122, 254, 0.1);
}

@media (max-width: 768px) {
  .top-bar {
    height: 10vh;
    padding: 0 2rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .search-container {
    max-width: 60%;
  }

  .favorites-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    border: 1px solid rgba(195, 212, 233, 0.4);
    background-color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .favorites-icon:hover {
    background-color: rgba(58, 122, 254, 0.1);
  }
}

.left-sidebar {
  width: 25%;
  padding: 32px;
  border-right: 1px solid #F3F5F7;
  background: var(--Primary-0, #FFF);
  box-sizing: border-box;
  font-size: 20px;
}

.filter-section {
  margin-bottom: 56px;
}

.filter-section h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #596780;
  text-transform: uppercase;
}

.filter-options label {
  display: block;
  margin-bottom: 16px;
  font-size: 0.9rem;
  color: #596780;
}

.filter-options input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #3a7afe;
}

.price-slider input[type="range"] {
  width: 100%;
  background: #3a7afe;
  height: 12px;
  border-radius: 12px;
  background: var(--Secondary-300, #90A3BF);
  margin-bottom: 8px;
}

.price-slider p {
  font-size: 0.9rem;
  color: #596780;
}

@media (max-width: 768px) {
  .left-sidebar {
    width: 100%;
    padding: 16px;
  }

  .filter-section {
    margin-bottom: 40px;
  }
}


.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--Primary-0, #FFF);
  z-index: 10;
  height: 480px;
  box-sizing: border-box;
  padding: 80px 0px 60px 0px;
}

.footer-container {
  display: grid;
  grid-template-columns: 744px repeat(3, 1fr);
  height: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 60px;
}


.footer-column:not(.logo-column) {
  width: 200px;
}

.logo-column {
  grid-column: 1;
  padding-right: 450px;
  min-width: auto;
  color: rgba(19, 19, 19, 0.60);

  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;

}

.footer-logo {
  color: var(--Primary-500, #3563E9);

  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.footer-column {}

.footer-column h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1d1d1d;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
  color: rgba(19, 19, 19, 0.60);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid rgba(195, 212, 233, 0.4);
  padding-right: 60px;
}

.footer-bottom p {
  padding-left: 60px;
  color: var(--Secondary-500, #1A202C);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.footer-links a {
  margin-left: 2rem;
  color: var(--Secondary-500, #1A202C);
  text-align: right;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #3a7afe;
}

@media (max-width: 1280px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .footer-column:not(.logo-column) {
    width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-links a {
    margin: 0 1rem;
  }
}